[defaults]
deprecation_warnings = False
display_skipped_hosts = False
host_key_checking = True
interpreter_python = auto_silent
nocows = True
retry_files_enabled = False
roles_path = /workspace/ansible/roles
stdout_callback = default
timeout = 20

[ssh_connection]
pipelining = True
retries = 2
